extends layout

block content

  h1 #{title} la ostia
  div
   - var html = "<p>telefono</p>"
    | !{html} <-- Escaped
    | #{html} <-- Encoded 
   p Welcome to #{title}
   p 
     span soy jade
   input(class="alvaro" name="alvaro" value="alvaro" type="text")  
   div 
     


